body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dark {
  background-color: #1e2021 !important;
  color: #dedcd9 !important;
  border-color: #746d61 !important;
}

/* 

--darkreader-neutral-background: #1e2021;
--darkreader-neutral-text: #cfccc7;
--darkreader-selection-background: #0d52a6;
--darkreader-selection-text: #dedcd9;
    border-color: #746d61;
    color: #dedcd9;


*/
